/* =======  This file is solely for use with animated SVG logo for CDoinoff = */
/* .portfolio_svg_anim line, .portfolio_svg_anim path {
    fill: none;
    /* stroke: black; */
    /*stroke-width: 15;
} */
#gmj_anim path, #gmj_anim line {
    fill: none;
    stroke-width: 15;
    stroke: black;
}
#mask line {
    fill: none;
    stroke: white;
    stroke-width: 15;
    stroke-dasharray: 299 299;
    stroke-dashoffset: 299;
    /*animation: draw01 5s infinite;*/
}
.gmj_a01 {
    animation: draw01 3.8s infinite;
}
#eff, #shi {
    stroke-dasharray: 453.16 453.16;
    stroke-dashoffset: 453.16;
    /*animation: draw02 5s infinite;*/
}
.gmj_a02 {
    animation: draw02 3.8s infinite;
}
#shi_cross, #eff_cross {
    stroke-dasharray: 299 299;
    stroke-dashoffset: 299;
    /*animation: draw03 5s infinite;*/
}
.gmj_a03 {
    animation: draw03 3.8s infinite;
}

/* === Rework on animations === */
@keyframes draw01 {
    0%{stroke-dashoffset:299;}
    21%{stroke-dashoffset:0;}
    100%{stroke-dashoffset:0;}
}
@keyframes draw02 {
    0%{stroke-dashoffset:453.16;}
    10%{stroke-dashoffset:453.16;}
    50%{stroke-dashoffset:0;}
    100%{stroke-dashoffset:0;}
}
@keyframes draw03 {
    0%{stroke-dashoffset:299;}
    20%{stroke-dashoffset:299;}
    70%{stroke-dashoffset:0;}
    100%{stroke-dashoffset:0;}
}

/* === ORIGINAL === */
/*@keyframes draw01 {*/
    /*from {stroke-dashoffset:299}
    to {stroke-dashoffset:0;}*/
    /*0%{stroke-dashoffset:299;}
    15%{stroke-dashoffset:0;}
    100%{stroke-dashoffset:0;}
}
@keyframes draw02 {
    0%{stroke-dashoffset:453.16;}
    10%{stroke-dashoffset:453.16;}
    40%{stroke-dashoffset:0;}
    100%{stroke-dashoffset:0;}
}*/


/*@keyframes draw02 {
    from {stroke-dashoffset:453.16}
    to {stroke-dashoffset:0;}
}*/

/* ==== ORIGINAL === */
/*@keyframes draw03 {
    0%{stroke-dashoffset:299;}
    20%{stroke-dashoffset:299;}
    50%{stroke-dashoffset:0;}
    100%{stroke-dashoffset:0;}
}*/


/*@keyframes draw03 {
    from {stroke-dashoffset:299}
    to {stroke-dashoffset:0;}
}*/