/*=========================================================*/
/*-----------------   CONTACT global   -------------------*/
html, body {
    height: 100%;
}
.formContainer {
    overflow: hidden;
}
.contactTitle {
    display: block;
    background-color:#553692;
}
.contactTitle h1 {
    font-size: 22pt;
    color: #9D90C5;
    font-family: 'Spartan', sans-serif;
    text-align: center;
    padding: 30px 20px 30px;
    margin: 0;
}
.contactForm {
    background: whitesmoke;
    position: relative;
}
.main_container {
    position: relative;
}
.nameContainer, .emailContainer, .messageContainer {
    display: block;
    border: solid 1px black;
    padding: 10px;
    margin-bottom: 25px;
    transition: all 0.2s ease;
}
.nameContainer, .emailContainer {
    max-width: 360px;
}
label {
    display: block;
    position: absolute;
    font-family: 'Exo 2', sans-serif;
    font-size: 14px;
    color: black;
    background-color: whitesmoke;
    padding: 0 5px 0;

    margin: 13px 0 0 10px;
    z-index: 2;
    transition: background-color 2s ease, margin-top 0.2s ease;
}
.labelActive {
    margin-top: -23px;
    margin-top: -12px;
    transition: margin-top 0.3s ease-out, background-color 1.2s ease;
}
#nameField, #emailField, #messageField {
    width: 99%;
    outline: none;
    /* chromium override ? */
    background-color: transparent;
}
input {
    display: block;
    border: none;
	overflow: hidden;
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
	background-color: transparent;
}
/* === Custom Form Error UI === */
input:-moz-ui-invalid, textarea:-moz-ui-invalid {
    box-shadow: none;
    background-image: url('images/error_x_icon.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    animation: glow 2.5s ease-in-out infinite;
}
input:-moz-ui-invalid {
    border-bottom: solid 2px red;
    background-position: right;
}
textarea {
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    border: none;
    width: 99%;
    background-color: transparent;
}
textarea:-moz-ui-invalid {
    border-top: solid 2px red;
    background-position: right 2px;
}
@keyframes glow {
    0% { opacity: 0.3;}
    50% { opacity: 1;}
    100% { opacity: 0.3;}
}
.botCatfish {
    display: none;
    position: relative;
}
.focusActive {
    border: solid 1px blueviolet !important;
    transform: scale(1.02);
    box-shadow: 1px 1px 3px blueviolet;
    /* -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0); */
    transition: all 0.16s ease;
}
.subB {
    cursor: pointer;
    position: relative;
    z-index: 3;
    width: 100%;
    margin: 0;
    padding: 15px 50px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    transition: all ease 0.4s;
}
.submitButton {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 20px auto 30px;
    width: 250px;
    height: 100%;
    background-color: #553692;
    outline: 0 dashed transparent;
    outline-offset: -10px;
    transition: all ease 0.6s;
}
.loading03 {
    animation: load03 1.4s linear 3;
}
.loading02 {
    animation: load02 1.4s linear 3;
}
.loading01 {
    animation: load01 1.4s linear 3;
}
@keyframes load03 {
    10% { stroke-dashoffset: 0;stroke-dasharray: 30 1084; }
    30% { stroke-dashoffset: -150;stroke-dasharray: 180 1084; }
    60% { stroke-dashoffset: -384;stroke-dasharray: 500 1084;opacity: 1; }
    100% { stroke-dashoffset: -1084;stroke-dasharray: 0 1094;opacity: 0; }
}
@keyframes load02 {
    10% { stroke-dashoffset: 0;stroke-dasharray: 30 1084; }
    30% { stroke-dashoffset: -200;stroke-dasharray: 100 1084; }
    80% { stroke-dasharray: 250 1084;opacity: 1; }
    100% { stroke-dashoffset: -1084;stroke-dasharray: 0 1094;opacity: 0; }
}
@keyframes load01 {
    10% { stroke-dashoffset: 0;stroke-dasharray: 30 1084; }
    80% { stroke-dashoffset: -1054;stroke-dasharray: 30 1084;opacity: 1; }
    100% { stroke-dashoffset: -1084;stroke-dasharray: 0 1094;opacity: 0; }
}
.svg_border {
    position: absolute;
    height: 100%;
    width: 100%;
}
/*Might be able to move "willChange" solely to class "contactForm"*/
.willChangeJQ {
    transition: background-color 2s ease, margin-top 0.2s ease, max-height 0.5s ease;
}
.darken {
    filter: hue-rotate(10deg);
    transition: all ease 0.8s;
}
.willMoveJQ {
    position: relative;
}
@keyframes form_left {
    60% { transform: translateX(70px); }
    100% { transform: translateX(-1000px); }
}
/* ----  Post-Submit Thank You transition/page ----- */
#ty {
    display: flex;
    position: absolute;
    top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.thankYou {
    position: relative;
    color:rgb(65, 45, 103);
    font-size: 35pt;
    white-space: break-spaces;
    -webkit-white-space: break-spaces;
    text-align: center;
}
.thankYou-sub {
    position: relative;
    color: #9D90C5;
}
footer {
    transition: all 500ms ease;
}
/*============================================================*/
/*----------------   CONTACT/ MOBILE TABLET   ----------------*/
/*============================================================*/
@media only screen and (max-width:770px) {
header {
    display: flex;
    position: fixed;
    top: 0;
    height: 100px;
    width: 92vw;
    background-color: #2F4072;
    z-index: 5;
    padding: 0 4vw 0;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    transition: all ease 150ms;
    transition-delay: 350ms;
}
.bg {
    /* height: 100vh; */
    padding-top: 130px;
}
.formContainer{
    display: flex;
    flex-direction: column;
    margin: 0 6vw 0;
    background: transparent;
}
/* was throwing off design - removed on 20221205 */
/* .contactTitle {
    margin-top: 130px;
} */
.contactTitle h1 {
    word-spacing: 10px;
}
.contactForm {
    display: block;
    /*max-height used to transition with JS animations*/
    max-height: 70vh;
    max-width: 80vw;
    padding: 30px 30px 0;
}
#ty {
    width: 88vw;
    left: 88vw;
    height: 290px;
}
.thankYou {
    max-width: 80vw;
    font-size: 22pt;
    margin-top: -40px;
}
.thankYou-sub {
    font-size: 14pt;
    padding: 0 20px 0;
}
@keyframes ty_left01 {
    1% { transform: translateX(-76vw); }
    100% { transform: translateX(-88vw); }
}
.spacer2 {
    height: 50px;
    background-color: transparent;
}
}
/*================================================================*/
/*================================================================*/
/*------------------ FULL RESOLUTION  ----------------------------*/
/*================================================================*/
/*================================================================*/

@media only screen and (min-width:771px) {
    /* below two rules for Chromium scroll color */
    ::-webkit-scrollbar, ::-webkit-scrollbar-button {
        background: #220e4d;
    }
    ::-webkit-scrollbar-thumb {
        background: #4C206C;
    }
    ::-webkit-scrollbar-button {
        background: #220e4d;
        color: #4C206C;
    }
    html {
        scrollbar-color: #4C206C #220e4d;
    }
    /*================================================================*/
    /*----------------   CONTACT PAGE FULL   -------------------------*/
    /*================================================================*/
    #logoContainerContact {
        width: 100%;
        align-items: center;
    }
    .logoR2 {
        opacity: 1;
        left: 20px;
        scale: 1;
        margin-right: 10vw;
        transition: opacity 0.4s ease, left 0.5s ease-out, scale 0.3s ease, margin 0.4s ease-out;
    }
    .formContainer {
        margin-top: 130px;
        background-color: whitesmoke;
        width: 60vw;
        /*height: calc(80vh - 250px);*/
        min-height: 400px;
    }
    .contactForm {
        display: flex;
        flex-direction: column;
    /*Max-height included for smooth JS animation*/
        max-height: 60vh;
        padding: 40px 10vw;
        margin: 0 auto 0;
        max-width: 60vw;
    }
    .nameContainer, .emailContainer, .messageContainer {
        margin-bottom: 30px;
    }
    /*Below code for trying to reduce blur on animation*/
    #nameLabel, #emailLabel, #messageLabel {
        display: inline-table;
        transform-style: flat;
        transform: perspective(1px) scale(1) translateZ(0);
        backface-visibility: hidden;
        -webkit-font-smoothing: subpixel-antialiased;
        transition: background-color 2s ease, margin-top 0.2s ease;
    }
    #ty {
        width: 60vw;
        left: 60vw;
        height: 46vh;
    }
    .thankYou {
        max-width: 50vw;
    }
    .thankYou-sub {
        margin-left: 5vw;
        font-size: 22pt;
    }
    @keyframes ty_left02 {
        1% { transform: translateX(-50vw);}
        100% { transform: translateX(-60vw);}
    }
}