/* ======= CSS for SVGs used on NM Portfolio page ==== */
/* === GMJ LOGO === */
#gmj_anim path, #gmj_anim line {
    fill: none;
    stroke-width: 15;
    stroke: black;
}
#mask line {
    fill: none;
    stroke: white;
    stroke-width: 15;
    stroke-dasharray: 299 299;
    stroke-dashoffset: 299;
}
.gmj_a01 {
    animation: draw01 3.8s infinite;
}
#eff, #shi {
    stroke-dasharray: 453.16 453.16;
    stroke-dashoffset: 453.16;
}
.gmj_a02 {
    animation: draw02 3.8s infinite;
}
#shi_cross, #eff_cross {
    stroke-dasharray: 299 299;
    stroke-dashoffset: 299;
}
.gmj_a03 {
    animation: draw03 3.8s infinite;
}
/* === Rework on animations === */
@keyframes draw01 {
    0%{stroke-dashoffset:299;}
    21%{stroke-dashoffset:0;}
    100%{stroke-dashoffset:0;}
}
@keyframes draw02 {
    0%{stroke-dashoffset:453.16;}
    10%{stroke-dashoffset:453.16;}
    50%{stroke-dashoffset:0;}
    100%{stroke-dashoffset:0;}
}
@keyframes draw03 {
    0%{stroke-dashoffset:299;}
    20%{stroke-dashoffset:299;}
    70%{stroke-dashoffset:0;}
    100%{stroke-dashoffset:0;}
}
/*=== KIBOU Kanji New Attempt ===*/
/*== 12s total run time (including appearing english text) ==*/
/*== 100/12=8.333(repeating) ==*/
#mask11 {
    stroke-dasharray: 76 80;
    stroke-dashoffset: 0;
}
.knj11 {
    animation: draw11 12s ease-out infinite;
}
@keyframes draw11 {
    0%{stroke-dashoffset: 0;}
    3%{stroke-dashoffset: 0;}
    6%{stroke-dashoffset: 76;}
    100%{stroke-dashoffset: 76;}
}
#mask12 {
    stroke-dasharray: 86 86;
    stroke-dashoffset: 0;
}
.knj12 {
    animation: draw12 12s ease-out infinite;
}
@keyframes draw12 {
    0%{stroke-dashoffset: 0;}
    6%{stroke-dashoffset: 0;}
    9%{stroke-dashoffset: -86;}
    100%{stroke-dashoffset: -86;}
}
#mask13 {
    stroke-dasharray: 95 95;
    stroke-dashoffset: 0;
}
.knj13 {
    animation: draw13 12s ease-in infinite;
}
@keyframes draw13 {
    0%{stroke-dashoffset: 0;}
    5%{stroke-dashoffset: 0;}
    9%{stroke-dashoffset: 0;}
    13%{stroke-dashoffset: 95;}
    100%{stroke-dashoffset: 95;}
}
#mask14 {
    stroke-dasharray: 157 157;
    stroke-dashoffset: 0;
}
.knj14 {
    animation: draw14 12s linear infinite;
}
@keyframes draw14 {
    0%{stroke-dashoffset: 0;}
    5%{stroke-dashoffset: 0;}
    13%{stroke-dashoffset: 0;}
    17%{stroke-dashoffset: -157;}
    100%{stroke-dashoffset: -157;}
}
#mask15 {
    stroke-dasharray: 60 60;
    stroke-dashoffset: 0;
}
.knj15 {
    animation: draw15 12s linear infinite;
}
@keyframes draw15 {
    0%{stroke-dashoffset: 0;}
    5%{stroke-dashoffset: 0;}
    10%{stroke-dashoffset: 0;}
    17%{stroke-dashoffset: 0;}
    19%{stroke-dashoffset: -60;}
    100%{stroke-dashoffset: -60;}
}
#mask16 {
    stroke-dasharray: 158 162;
    stroke-dashoffset: 0;
}
.knj16 {
    animation: draw16 12s linear infinite;
}
@keyframes draw16 {
    0%{stroke-dashoffset: 0;}
    5%{stroke-dashoffset: 0;}
    10%{stroke-dashoffset: 0;}
    19%{stroke-dashoffset: 0;}
    24%{stroke-dashoffset: -162;}
    100%{stroke-dashoffset: -162;}
}
#mask17 {
    stroke-dasharray: 106.886 109;
    stroke-dashoffset: 0;
}
.knj17 {
    animation: draw17 12s ease-in infinite;
}
@keyframes draw17 {
    0%{stroke-dashoffset: 0;}
    5%{stroke-dashoffset: 0;}
    10%{stroke-dashoffset: 0;}
    15%{stroke-dashoffset: 0;}
    24%{stroke-dashoffset: 0;}
    27%{stroke-dashoffset: -109;}
    100%{stroke-dashoffset: -109;}
}
/*===================*/
/*== KIBOU Kanji 2 ==*/
/*===================*/
#mask21 {
    stroke-dasharray: 28 30;
    stroke-dashoffset: 0;
}
.knj21 {
    animation: draw21 12s linear infinite;
}
@keyframes draw21 {
    0%{stroke-dashoffset: 0;}
    5%{stroke-dashoffset: 0;}
    10%{stroke-dashoffset: 0;}
    15%{stroke-dashoffset: 0;}
    20%{stroke-dashoffset: 0;}
    27%{stroke-dashoffset: 0;}
    29%{stroke-dashoffset: -30;}
    100%{stroke-dashoffset: -30;}
}
#mask22 {
    stroke-dasharray: 80 85;
    stroke-dashoffset: 0;
}
.knj22 {
    animation: draw22 12s linear infinite;
}
@keyframes draw22 {
    0%{stroke-dashoffset: 0;}
    5%{stroke-dashoffset: 0;}
    10%{stroke-dashoffset: 0;}
    15%{stroke-dashoffset: 0;}
    20%{stroke-dashoffset: 0;}
    23%{stroke-dashoffset: 0;}
    29%{stroke-dashoffset: 0;}
    32%{stroke-dashoffset: -85;}
    100%{stroke-dashoffset: -85;}
}
#mask23 {
    stroke-dasharray: 85 90;
    stroke-dashoffset: 0;
}
.knj23 {
    animation: draw23 12s linear infinite;
}
@keyframes draw23 {
    0%{stroke-dashoffset: 0;}
    5%{stroke-dashoffset: 0;}
    10%{stroke-dashoffset: 0;}
    15%{stroke-dashoffset: 0;}
    20%{stroke-dashoffset: 0;}
    23%{stroke-dashoffset: 0;}
    32%{stroke-dashoffset: 0;}
    36%{stroke-dashoffset: -90;}
    100%{stroke-dashoffset: -90;}
}
#mask24 {
    stroke-dasharray: 78 83;
    stroke-dashoffset: 0;
}
.knj24 {
    animation: draw24 12s linear infinite;
}
@keyframes draw24 {
    0%{stroke-dashoffset: 0;}
    5%{stroke-dashoffset: 0;}
    10%{stroke-dashoffset: 0;}
    15%{stroke-dashoffset: 0;}
    20%{stroke-dashoffset: 0;}
    23%{stroke-dashoffset: 0;}
    25%{stroke-dashoffset: 0;}
    36%{stroke-dashoffset: 0;}
    40%{stroke-dashoffset: -83;}
    100%{stroke-dashoffset: -83;}
}
#mask25 {
    stroke-dasharray: 143 148;
    stroke-dashoffset: 0;
}
.knj25 {
    animation: draw25 12s linear infinite;
}
@keyframes draw25 {
    0%{stroke-dashoffset: 0;}
    5%{stroke-dashoffset: 0;}
    10%{stroke-dashoffset: 0;}
    15%{stroke-dashoffset: 0;}
    20%{stroke-dashoffset: 0;}
    23%{stroke-dashoffset: 0;}
    25%{stroke-dashoffset: 0;}
    30%{stroke-dashoffset: 0;}
    40%{stroke-dashoffset: 0;}
    44%{stroke-dashoffset: -143;}
    100%{stroke-dashoffset: -143;}
}
#mask26 {
    stroke-dasharray: 40 43;
    stroke-dashoffset: 0;
}
.knj26 {
    animation: draw26 12s ease-in infinite;
}
@keyframes draw26 {
    0%{stroke-dashoffset: 0;}
    5%{stroke-dashoffset: 0;}
    10%{stroke-dashoffset: 0;}
    15%{stroke-dashoffset: 0;}
    20%{stroke-dashoffset: 0;}
    23%{stroke-dashoffset: 0;}
    25%{stroke-dashoffset: 0;}
    30%{stroke-dashoffset: 0;}
    35%{stroke-dashoffset: 0;}
    44%{stroke-dashoffset: 0;}
    46%{stroke-dashoffset: -43;}
    100%{stroke-dashoffset: -43;}
}
#mask27 {
    stroke-dasharray: 44 47;
    stroke-dashoffset: 0;
}
.knj27 {
    animation: draw27 12s ease-in infinite;
}
@keyframes draw27 {
    0%{stroke-dashoffset: 0;}
    5%{stroke-dashoffset: 0;}
    10%{stroke-dashoffset: 0;}
    15%{stroke-dashoffset: 0;}
    20%{stroke-dashoffset: 0;}
    23%{stroke-dashoffset: 0;}
    25%{stroke-dashoffset: 0;}
    30%{stroke-dashoffset: 0;}
    35%{stroke-dashoffset: 0;}
    40%{stroke-dashoffset: 0;}
    46%{stroke-dashoffset: 0;}
    48%{stroke-dashoffset: -47;}
    100%{stroke-dashoffset: -47;}
}
#mask28 {
    stroke-dasharray: 94 98;
    stroke-dashoffset: 0;
}
.knj28 {
    animation: draw28 12s linear infinite;
}
@keyframes draw28 {
    0%{stroke-dashoffset: 0;}
    5%{stroke-dashoffset: 0;}
    10%{stroke-dashoffset: 0;}
    15%{stroke-dashoffset: 0;}
    20%{stroke-dashoffset: 0;}
    23%{stroke-dashoffset: 0;}
    25%{stroke-dashoffset: 0;}
    30%{stroke-dashoffset: 0;}
    35%{stroke-dashoffset: 0;}
    40%{stroke-dashoffset: 0;}
    48%{stroke-dashoffset: 0;}
    52%{stroke-dashoffset: -98;}
    100%{stroke-dashoffset: -98;}
}
#mask29 {stroke-dasharray: 55 59;
    stroke-dashoffset: 0;
}
.knj29 {
    animation: draw29 12s linear infinite;
}
@keyframes draw29 {
    0%{stroke-dashoffset: 0;}
    5%{stroke-dashoffset: 0;}
    10%{stroke-dashoffset: 0;}
    15%{stroke-dashoffset: 0;}
    20%{stroke-dashoffset: 0;}
    23%{stroke-dashoffset: 0;}
    25%{stroke-dashoffset: 0;}
    30%{stroke-dashoffset: 0;}
    35%{stroke-dashoffset: 0;}
    40%{stroke-dashoffset: 0;}
    45%{stroke-dashoffset: 0;}
    52%{stroke-dashoffset: 0;}
    54%{stroke-dashoffset: -59;}
    100%{stroke-dashoffset: -59;}
}
#mask210 {
    stroke-dasharray: 83 88;
    stroke-dashoffset: 0;
}
.knj210 {
    animation: draw210 12s linear infinite;
}
@keyframes draw210 {
    0%{stroke-dashoffset: 0;}
    5%{stroke-dashoffset: 0;}
    10%{stroke-dashoffset: 0;}
    15%{stroke-dashoffset: 0;}
    20%{stroke-dashoffset: 0;}
    23%{stroke-dashoffset: 0;}
    25%{stroke-dashoffset: 0;}
    30%{stroke-dashoffset: 0;}
    35%{stroke-dashoffset: 0;}
    40%{stroke-dashoffset: 0;}
    45%{stroke-dashoffset: 0;}
    50%{stroke-dashoffset: 0;}
    54%{stroke-dashoffset: 0;}
    57%{stroke-dashoffset: -88;}
    100%{stroke-dashoffset: -88;}
}
#mask211 {
    stroke-dasharray: 151 155;
    stroke-dashoffset: 0;
}
.knj211 {
    animation: draw211 12s ease-in infinite;
}
@keyframes draw211 {
    0%{stroke-dashoffset: 0;}
    5%{stroke-dashoffset: 0;}
    10%{stroke-dashoffset: 0;}
    15%{stroke-dashoffset: 0;}
    20%{stroke-dashoffset: 0;}
    23%{stroke-dashoffset: 0;}
    25%{stroke-dashoffset: 0;}
    30%{stroke-dashoffset: 0;}
    35%{stroke-dashoffset: 0;}
    40%{stroke-dashoffset: 0;}
    45%{stroke-dashoffset: 0;}
    50%{stroke-dashoffset: 0;}
    57%{stroke-dashoffset: 0;}
    60%{stroke-dashoffset: -155;}
    100%{stroke-dashoffset: -155;}
}
/*== YUUKI kanji 3 ==*/
#mask31 {
    stroke-dasharray: 135 135;
    stroke-dashoffset: 0;
}
.knj31 {
    animation: draw31 12s ease-in infinite;
}
@keyframes draw31 {
    0%{stroke-dashoffset: 0;}
    3%{stroke-dashoffset: 0;}
    6%{stroke-dashoffset: -135;}
    100%{stroke-dashoffset: -135;}
}
#mask32 {
    stroke-dasharray: 25 25;
    stroke-dashoffset: 0;
}
.knj32 {
    animation: draw32 12s ease-in infinite;
}
@keyframes draw32 {
    0%{stroke-dashoffset: 0;}
    6%{stroke-dashoffset: 0;}
    9%{stroke-dashoffset: -25;}
    100%{stroke-dashoffset: -25;}
}
#mask33 {
    stroke-dasharray: 45 45;
    stroke-dashoffset: 0;
}
.knj33 {
    animation: draw33 12s ease-in infinite;
}
@keyframes draw33 {
    0%{stroke-dashoffset: 0;}
    9%{stroke-dashoffset: 0;}
    13%{stroke-dashoffset: -45;}
    100%{stroke-dashoffset: -45;}
}
#mask34 {
    stroke-dasharray: 143 143;
    stroke-dashoffset: 0;
}
.knj34 {
    animation: draw34 12s ease-in infinite;
}
@keyframes draw34 {
    0%{stroke-dashoffset: 0;}
    13%{stroke-dashoffset: 0;}
    18%{stroke-dashoffset: -143;}
    100%{stroke-dashoffset: -143;}
}
#mask35 {
    stroke-dasharray: 32 32;
    stroke-dashoffset: 0;
}
.knj35 {
    animation: draw35 12s ease-in infinite;
}
@keyframes draw35 {
    0%{stroke-dashoffset: 0;}
    18%{stroke-dashoffset: 0;}
    20%{stroke-dashoffset: -32;}
    100%{stroke-dashoffset: -32;}
}
#mask36 {
    stroke-dasharray: 45 45;
    stroke-dashoffset: 0;
}
.knj36 {
    animation: draw36 12s ease-in infinite;
}
@keyframes draw36 {
    0%{stroke-dashoffset: 0;}
    20%{stroke-dashoffset: 0;}
    23%{stroke-dashoffset: -45;}
    100%{stroke-dashoffset: -45;}
}
#mask37 {
    stroke-dasharray: 66 66;
    stroke-dashoffset: 0;
}
.knj37 {
    animation: draw37 12s ease-in infinite;
}
@keyframes draw37 {
    0%{stroke-dashoffset: 0;}
    23%{stroke-dashoffset: 0;}
    27%{stroke-dashoffset: -66;}
    100%{stroke-dashoffset: -66;}
}
#mask38 {
    stroke-dasharray: 179 179;
    stroke-dashoffset: 0;
}
.knj38 {
    animation: draw38 12s ease-in infinite;
}
@keyframes draw38 {
    0%{stroke-dashoffset: 0;}
    27%{stroke-dashoffset: 0;}
    33%{stroke-dashoffset: -179;}
    100%{stroke-dashoffset: -179;}
}
#mask39 {
    stroke-dasharray: 95 105;
    stroke-dashoffset: 0;
}
.knj39 {
    animation: draw39 12s ease-in infinite;
}
@keyframes draw39 {
    0%{stroke-dashoffset: 0;}
    33%{stroke-dashoffset: 0;}
    38%{stroke-dashoffset: -105;}
    100%{stroke-dashoffset: -105;}
}
/*===YUUKI kanji 4===*/
#mask41 {
    stroke-dasharray: 58 64;
    stroke-dashoffset: 0;
}
.knj41 {
    animation: draw41 12s ease-in infinite;
}
@keyframes draw41 {
    0%{stroke-dashoffset: 0;}
    38%{stroke-dashoffset: 0;}
    41%{stroke-dashoffset: -60;}
    100%{stroke-dashoffset: -60;}
}
#mask42 {
    stroke-dasharray: 60 60;
    stroke-dashoffset: 0;
}
.knj42 {
    animation: draw42 12s ease-in infinite;
}
@keyframes draw42 {
    0%{stroke-dashoffset: 0;}
    41%{stroke-dashoffset: 0;}
    44%{stroke-dashoffset: -60;}
    100%{stroke-dashoffset: -60;}
}
#mask43 {
    stroke-dasharray: 52 52;
    stroke-dashoffset: 0;
}
.knj43 {
    animation: draw43 12s ease-in infinite;
}
@keyframes draw43 {
    0%{stroke-dashoffset: 0;}
    44%{stroke-dashoffset: 0;}
    47%{stroke-dashoffset: -52;}
    100%{stroke-dashoffset: -52;}
}
#mask44 {
    stroke-dasharray: 286 286;
    stroke-dashoffset: 0;
}
.knj44 {
    animation: draw44 12s ease-in infinite;
}
@keyframes draw44 {
    0%{stroke-dashoffset: 0;}
    47%{stroke-dashoffset: 0;}
    53%{stroke-dashoffset: -286;}
    100%{stroke-dashoffset: -286;}
}
#mask45 {
    stroke-dasharray: 107 107;
    stroke-dashoffset: 0;
}
.knj45 {
    animation: draw45 12s ease-in infinite;
}
@keyframes draw45 {
    0%{stroke-dashoffset: 0;}
    53%{stroke-dashoffset: 0;}
    58%{stroke-dashoffset: -107;}
    100%{stroke-dashoffset: -107;}
}
#mask46 {
    stroke-dasharray: 62 62;
    stroke-dashoffset: 0;
}
.knj46 {
    animation: draw46 12s ease-in infinite;
}
@keyframes draw46 {
    0%{stroke-dashoffset: 0;}
    58%{stroke-dashoffset: 0;}
    61%{stroke-dashoffset: -62;}
    100%{stroke-dashoffset: -62;}
}
/*== TEXT ==*/
#def12 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 30pt;
    color: silver;
    filter: blur(20px);
    opacity: 0;
    top: 220px;
    left: 115px;
    /* For Chromium browsers to reduce scaling jitter */
    will-change: transform;
}
#def34 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 18pt;
    color: silver;
    filter: blur(20px);
    opacity: 0;
    top: 235px;
    left: 110px;
    /* For Chromium browsers to reduce scaling jitter */
    will-change: transform;
}
.def_play {
    animation: english 12s ease-in infinite;
}
@keyframes english {
    80%{opacity:1;filter:blur(0);}
    90%{opacity:1;filter:blur(0);}
    100%{transform:scale(3);opacity:0;filter:blur(10px);}
}